<header class="flex justify-around bg-zinc-900 h-14 items-center">
  <div>
    <ul class="flex">
      <li class="mx-2 text-white">
        <a (click)="navigate('')">iSport</a>
      </li>
      <li class="mx-2 text-white cursor-pointer hover:text-gray-400">
        <a (click)="navigate('teams')">Times</a>
      </li>
      <li class="mx-2 text-white cursor-pointer hover:text-gray-400">
        <a (click)="navigate('schedule')">Jogos</a>
      </li>
      <li class="mx-2 text-white cursor-pointer hover:text-gray-400">
        <a (click)="navigate('news')">Noticias</a>
      </li>
    </ul>
  </div>
  <div>
    <ul (class)="auth ? 'flex' : 'flex'">
      <li class="mx-2 text-white" (click)="openDialogLogin('login')">Entrar</li>
      <li class="mx-2 text-white" (click)="openDialogLogin('register')">Participe</li>
    </ul>
  </div>
</header>
